
.DS_Store
musdb-pix2pix/train/metadata.jsonl
musdb-pix2pix/train/input_image/s9_f0_e0.jpg
musdb-pix2pix/train/input_image/s8_f0_e0.jpg
musdb-pix2pix/train/input_image/s7_f0_e0.jpg
musdb-pix2pix/train/input_image/s6_f0_e0.jpg
musdb-pix2pix/train/input_image/s5_f0_e0.jpg
musdb-pix2pix/train/input_image/s4_f0_e0.jpg
musdb-pix2pix/train/input_image/s3_f0_e0.jpg
musdb-pix2pix/train/input_image/s2_f0_e0.jpg
musdb-pix2pix/train/input_image/s1_f0_e0.jpg
musdb-pix2pix/train/input_image/s10_f0_e0.jpg
musdb-pix2pix/train/input_image/s0_f0_e0.jpg
musdb-pix2pix/train/edited_image/s9_f0_e0.jpg
musdb-pix2pix/train/edited_image/s8_f0_e0.jpg
musdb-pix2pix/train/edited_image/s7_f0_e0.jpg
musdb-pix2pix/train/edited_image/s6_f0_e0.jpg
musdb-pix2pix/train/edited_image/s5_f0_e0.jpg
musdb-pix2pix/train/edited_image/s4_f0_e0.jpg
musdb-pix2pix/train/edited_image/s3_f0_e0.jpg
musdb-pix2pix/train/edited_image/s2_f0_e0.jpg
musdb-pix2pix/train/edited_image/s1_f0_e0.jpg
musdb-pix2pix/train/edited_image/s10_f0_e0.jpg
musdb-pix2pix/train/edited_image/s0_f0_e0.jpg
*.pyc
